<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="navbar">
        <a href=" {{ url_for('index') }} " class="navbar-brand"> Home </a>
        <a href="#" class="navbar-items"> Artists </a>
    </div>

    <div class="page-content">

        <h1>Paige's Music Library</h1>
        
        <h2> Genre List </h2>
        
        <div>

            <ul>
            <h2> My Favorite Genres:</h2>
            
            {% for key, value in genres.items() %}
            <li class="genre-item">
                <a href="{{ url_for('value') }}" 
                   class="button">
                    {{ key }}
                </a>
            </li>
            {% endfor %}

            </ul>

        </div>

    </div>



    <footer>
        <span>Created by Paige &copy; 2026</span>
    </footer>

</body>

</html>